body {
    margin: 0;
    padding: 0;
    /* background-color: #ddcab2; */
    /* background: linear-gradient(to left, #ddcab2, #d8ba95); */
    background: radial-gradient(circle, #ddc6aa, #d2a063);
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.intro {
    max-width: 600px;
    position: relative;
}
h1, h2 {
    font-family: 'Permanent Marker', cursive;

}
h1 {
    font-size: 60px;
    margin-bottom: -30px;
    /* margin-left: 50px; */
    color: #d4bc91;
    text-shadow: 2px 2px 5px rgba(0,0,0,2);
    animation: moveInLeft 2s 2s ease-out;
    animation-fill-mode: both;
}
h2 {
    font-size: 40px;
    margin-left: 50px;
    color: #d9ad71;
    text-shadow: 2px 2px 5px rgba(0,0,0,2);
    animation: moveInRight 2s 2s ease-in-out;
    animation-fill-mode: both;
}
p {
    font-family: 'Solitreo', cursive;
    color: rgb(37, 37, 37);
    font-size: 30px;
    font-weight: bold;
    width: 700px;
    animation: appear 2s 3s ease-in;
    animation-fill-mode: both;
    overflow: visible;
}
div.image {
    background-image: url(../smallerJesus.jpg);
    width: 384px;
    height: 384px;
    box-shadow: 0 0 8px 8px #e1c096 inset;
    border-radius: 10% 10%;
    animation: appear 2s .5s ease-in;
    animation-fill-mode: backwards;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: -200px;

}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    animation: appear 2s 3s ease-in;
    animation-fill-mode: backwards;
}
nav ul li {
    margin: 0 20px 0 0;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}
nav ul li:hover {
    animation: bounce 1s ease-in;
}
nav a {
    color: rgb(37, 37, 37);
    text-decoration: none;
}
nav a:hover {
    color: #d1872c;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-5px);}
    80% {transform: translateY(-20px);}
 }
